/* ==========================================================================
   BASE.CSS
   ========================================================================== */
:root {
    --cor-fundo-menu: #2c3e50;
    --cor-fundo-menu-secundaria: #34495e;
    --cor-fundo-pagina: #f4f4f4;
    --cor-fundo-card: #ffffff;

    --cor-texto-claro: #ecf0f1;
    --cor-texto-medio: #bdc3c7;
    --cor-texto-escuro: #2c3e50;
    --cor-texto-cinza: #7f8c8d;

    --cor-destaque-azul: #3498db;
    --cor-online-verde: #2ecc71;
    --cor-alarme-vermelho: #e74c3c;
    --cor-offline-vermelho: #e74c3c;

    --largura-menu: 280px;
    --raio-borda: 8px;
    --sombra-card: 0 3px 6px rgba(0, 0, 0, 0.1);
    --sombra-card-hover: 0 6px 12px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}



.install-overlay {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

/* Só mostra em telas maiores que 1024px (Desktop) */
@media (min-width: 1025px) {
    .install-overlay.active { display: flex; }
}

.install-card {
    background: #1e293b;
    color: white;
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    position: relative;
    max-width: 400px;
    border: 1px solid #334155;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.close-overlay {
    position: absolute;
    top: 1rem; right: 1.5rem;
    background: none; border: none;
    color: #94a3b8; font-size: 2rem; cursor: pointer;
}

.install-logo { width: 80px; margin-bottom: 1rem; }
.qr-code-container {
    background: white;
    padding: 1rem;
    display: inline-block;
    border-radius: 1rem;
    margin: 1.5rem 0;
}
.scan-label { display: block; font-size: 0.85rem; color: #94a3b8; }
