/* ==========================================================================
   BASE.CSS
   ========================================================================== */
:root {
    --cor-fundo-menu: #2c3e50;
    --cor-fundo-menu-secundaria: #34495e;
    --cor-fundo-pagina: #f4f4f4;
    --cor-fundo-card: #ffffff;

    --cor-texto-claro: #ecf0f1;
    --cor-texto-medio: #bdc3c7;
    --cor-texto-escuro: #2c3e50;
    --cor-texto-cinza: #7f8c8d;

    --cor-destaque-azul: #3498db;
    --cor-online-verde: #2ecc71;
    --cor-alarme-vermelho: #e74c3c;
    --cor-offline-vermelho: #e74c3c;

    --largura-menu: 280px;
    --raio-borda: 8px;
    --sombra-card: 0 3px 6px rgba(0, 0, 0, 0.1);
    --sombra-card-hover: 0 6px 12px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}







/* Container do Modal de Canto */
.install-overlay {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px; /* Posicionado à direita */
    z-index: 10000;
}

/* Mostrar apenas em Desktop */
@media (min-width: 1025px) {
    .install-overlay.active { display: block; }
}

.install-card {
    background: #1e293b;
    color: white;
    padding: 1.2rem;
    border-radius: 1rem;
    width: 260px; /* Largura pequena e fixa */
    border: 1px solid #334155;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
    animation: slideInRight 0.5s ease-out;
}

/* Ajuste do Logo Imenso (1024px para 60px) */
.install-logo { 
    width: 60px; 
    height: 60px; 
    object-fit: contain;
    margin-bottom: 0.5rem; 
}

.install-card h2 { font-size: 1rem; margin: 5px 0; }
.install-card p { font-size: 0.8rem; color: #94a3b8; line-height: 1.2; }

.qr-code-container {
    background: white;
    padding: 8px;
    display: inline-block;
    border-radius: 0.5rem;
    margin: 10px 0;
}

.qr-code-container img {
    width: 120px; /* QR Code menor */
    height: 120px;
    display: block;
}

.close-overlay {
    position: absolute;
    top: 5px; right: 10px;
    background: none; border: none;
    color: #94a3b8; font-size: 1.5rem; cursor: pointer;
}

@keyframes slideInRight {
    from { transform: translateX(110%); }
    to { transform: translateX(0); }
}